 <div class="container_12 relative">
    <div class="wrapper relative">
      <article class="grid_7">
        <h3>How Ecommerce Software Works</h3>
        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio.</p>
        <div class="list-ecommerce">
          <article class="wrapper">
            <figure class="grid_1 alpha"><img src="<%= asset_path 'page7-img1.gif' %> " alt="" /></figure>
            <div class="grid_6 omega">
              <p><strong class="color-1"><a href="#">Watch a Demo</a></strong><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>
            </div>
          </article>
          <article class="wrapper">
            <figure class="grid_1 alpha"><img src="<%= asset_path 'page7-img2.gif' %> " alt="" /></figure>
            <div class="grid_6 omega">
              <p><strong class="color-1"><a href="#">Test Drive - See How it Works</a></strong><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat males</p>
            </div>
          </article>
          <article class="wrapper">
            <figure class="grid_1 alpha"><img src="<%= asset_path 'page7-img3.gif' %> " alt="" /></figure>
            <div class="grid_6 omega">
              <p><strong class="color-1"><a href="#">View a Sample Store</a></strong><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat males.</p>
            </div>
          </article>
        </div>
        <h3>Features and Benefits</h3>
        <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio.</p>
        <div class="border-bottom">
          <div class="wrapper p2">
            <ul class="list-1">
              <li><span class="bg-1">Reliable and Secure Shopping Cart</span></li>
              <li><span class="bg-2">Convenient Online Product Catalog</span></li>
              <li><span class="bg-3">Merchandising, Offers and Promotions</span></li>
            </ul>
            <ul class="list-2">
              <li><span class="bg-1">Fully Customizable Storefront Design </span></li>
              <li><span class="bg-2">Robust Reporting and Statistics</span></li>
              <li><span class="bg-9">Buy More and Save with Multi-Store<br>
                Discount</span></li>
            </ul>
          </div>
        </div>
        <a href="#" class="button"><strong><em>View All Benefits</em></strong></a> </article>
      <article class="grid_4 padd-5 prefix_1 ">
        <div class="banner-3"> <strong>Get Your</strong> <em>Professional Email Address!</em> <b>Starting at $1.42 /mo</b>
          <p>To activate and personalize your email<br>
            address(es), you will need<br>
            a domain name.</p>
          <a class="button-1" href="#">more</a> </div>
        <div class="banner-4">
          <div class="txt-3">Success<br>
            Stories</div>
          <p>Lorem ipsum dolor siamet consectetuer adipiscing elit.
            Praesent vestibulum moles lacus. Aenean nonum...</p>
          <a href="#" class="button"><strong><em>More Stories</em></strong></a> </div>
      </article>
    </div>
  </div>