<div class="container_12 relative">
   
      <div class="row-1">
    <div class="main-inside"> <h3>Marketing Services</h3></div>
     <div class="clear"></div>
     <article class="grid_4 p2">
          <div class="box-shadow1">
          <div class="part-top">
          Search Engine Opti mization (SEO)
          </div>
          <div class="box-bottom2">
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fuscem feugiat malesuada odio. Morbi nunc odiome gravida at, cursus nec, luctus ameten lorem. 
Maecenas tristique orci ac sem. </p>
        <div class="p">  <a href="#" class="button"><strong><em>More</em></strong></a></div>
          </div>
          </div>
          </article>
          
          
            
          
           <article class="grid_4 p2">
          <div class="box-shadow1">
          <div class="part-top">
        Pay Per Click (PPC)
          </div>
          <div class="box-bottom2">
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fuscem feugiat malesuada odio. Morbi nunc odiome gravida at, cursus nec, luctus ameten lorem. 
Maecenas tristique orci ac sem. </p>
         <div class="p"><a href="#" class="button"><strong><em>More</em></strong></a></div>
          </div>
          </div>
          </article>
          
          
            <article class="grid_4 p2">
          <div class="box-shadow1">
          <div class="part-top">
          SEO for Ecommerce Stores
          </div>
          <div class="box-bottom2">
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fuscem feugiat malesuada odio. Morbi nunc odiome gravida at, cursus nec, luctus ameten lorem. 
Maecenas tristique orci ac sem. </p>
<div class="p"><a href="#" class="button"><strong><em>More</em></strong></a></div>
          
          </div>
          </div>
          </article>
          
          <div class="clear"></div>
       
      </div>
     
      
      <div class="row-2">
      <article class="grid_4 p2">
          <div class="box-shadow1">
          <div class="part-top">
          Local Search Visibility
          </div>
          <div class="box-bottom2">
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fuscem feugiat malesuada odio. Morbi nunc odiome gravida at, cursus nec, luctus ameten lorem. 
Maecenas tristique orci ac sem. </p>
        <div class="p">  <a href="#" class="button"><strong><em>More</em></strong></a></div>
          </div>
          </div>
          </article>
          
          
            
          
           <article class="grid_4 p2">
          <div class="box-shadow1">
          <div class="part-top">
        Online Press Releases
          </div>
          <div class="box-bottom2">
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fuscem feugiat malesuada odio. Morbi nunc odiome gravida at, cursus nec, luctus ameten lorem. 
Maecenas tristique orci ac sem. </p>
         <div class="p"><a href="#" class="button"><strong><em>More</em></strong></a></div>
          </div>
          </div>
          </article>
          
          
            <article class="grid_4 p2">
          <div class="box-shadow1">
          <div class="part-top">
          Email Marketing
          </div>
          <div class="box-bottom2">
          <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fuscem feugiat malesuada odio. Morbi nunc odiome gravida at, cursus nec, luctus ameten lorem. 
Maecenas tristique orci ac sem. </p>
<div class="p"><a href="#" class="button"><strong><em>More</em></strong></a></div>
          
          </div>
          </div>
          </article>
          
          <div class="clear"></div>
      </div>
   
  </div>