<div class="container_12 relative">
   
      <div class="row-1">
       
     
     <article class="grid_4">
          <div class="box-shadow1">
          <div class="part-top">
          Limited Verification
          </div>
          <div class="box-bottom2">
          <div class="txt-3">Xpress<span>Domain Verification</span></div>
          <ul class="list-3">
          <li><span><strong class="color-1">$10,000</strong> guarantee</span></li>
           <li><span>Issued in minutes</span></li>
          <li><span>Up to 256-bit Encryption</span></li>
          </ul>
          <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$1.99</strong><em>p/m</em></div>
          </div>
          </div>
          
          </article>  
          
          <article class="grid_4">
          <div class="box-shadow1">
          <div class="part-top">
          Business Verification
          </div>
          <div class="box-bottom2">
          <div class="txt-3">Basic<span>Domain Verification</span></div>
          <ul class="list-3">
          <li><span><strong class="color-1">$10,000</strong> guarantee</span></li>
           <li><span>Issued in minutes</span></li>
          <li><span>Up to 256-bit Encryption</span></li>
          </ul>
          <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$2.99</strong><em>p/m</em></div>
          </div>
          </div>
          
          
          </article>  
          <article class="grid_4">
          <div class="box-shadow1">
          <div class="part-top">
          Organization Verification
          </div>
          <div class="box-bottom2">
          <div class="txt-3">Advanced<span>Domain Verification</span></div>
          <ul class="list-3">
          <li><span><strong class="color-1">$10,000</strong> guarantee</span></li>
           <li><span>Issued in minutes</span></li>
          <li><span>Up to 256-bit Encryption</span></li>
          </ul>
          <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$3.99</strong><em>p/m</em></div>
          </div>
          </div>
          
          </article>
          
          <div class="clear"></div>
       
      </div>
      <figure class="banner-2"><a href="#"><img src="images/banner-2.png" alt="" /></a></figure>
      
      <div class="row-2">
      <div class="main-inside">
      <article>
      
      
      <div class="box-shadow1">
          <div class="part-top">
          Visual &amp; Flexible SSL Security Solutions
          </div>
          <div class="box-bg">
          
  <div class="tail-border">  
   <div class="wrapper relative">    
      <div class="box-bottom2 fleft">
          <div class="txt-3">Wildcard<span>For unlimited sub-domains</span></div>
          <ul class="list-3">
          <li><span><strong class="color-1">$1 million</strong> guarantee</span></li>
           <li><span>Issued in 1 business day</span></li>
          <li><span>Up to 256-bit Encryption</span></li>
          </ul>
          <div class="stars"></div>
          <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$23.99</strong><em>p/m</em></div>
          </div>
          
          
          
               <div class="box-bottom2 fright">
          <div class="txt-3">Extended Validation<span>For more signs of security</span></div>
          <ul class="list-3">
                 <li><span><strong class="color-1">$1 million</strong> guarantee</span></li>
           <li><span>Issued in 4-5 business days</span></li>
          <li><span>Up to 256-bit Encryption</span></li>
          </ul>
          <div class="stars2"></div>
          <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$27.99</strong><em>p/m</em></div>
          </div>
          </div>
          </div>
          </div>
          
          </div>
      
      </article>
      </div>
      </div>
   
  </div>