			<div class="contener_12">
				<div class="main">
					<div class="wrapper">
						<ul class="footer-nav">
							<li>
								<a class="active" href="index.html">Home</a>
							</li>
							<li>
								<a  href="index-1.html">Domain Names</a>
							</li>
							<li>
								<a href="index-2.html">Web Hosting</a>
							</li>
							<li>
								<a href="index-3.html">Email</a>
							</li>
							<li>
								<a href="index-4.html">SSL Certificates</a>
							</li>
							<li>
								<a href="index-5.html">Online Marketing</a>
							</li>
							<li class="last">
								<a href="index-6.html">eCommerce</a>
							</li>
						</ul>
						<div class="policy">
							WebHosting&nbsp;(c) 2012&nbsp;|&nbsp;<a href="index-7.html">Privacy policy</a>
							<br>
							<div class="alignright">
								<!-- {%FOOTER_LINK} -->
							</div>
						</div>
					</div>
				</div>
			</div>