<div class="row-top">
	<div class="line-top">
		<div class="main">
			<div class="wrapper relative zoom">
				<h1><a href="index.html"></a></h1>
				<div class="block-right">
					<ul class="nav-top">
						<li class="first">
							<a href="#">Support</a>
						</li>
						<li>
							<a href="#">Hot Deals</a>
						</li>
						<li>
							<a href="#">Affiliates </a>
						</li>
						<li>
							<a href="#">Resellers</a>
						</li>
					</ul>
					<div class="clear"></div>
					<div class="wrapper">
						<form id="search-form" method="get">
							<fieldset>
								<div class="wrapper">
									<span>Search</span>
									<div class="rowElem">
										<input type="text" name="text"/>
										<a onClick="document.getElementById('search-form').submit()"  class="search-submit"></a>
									</div>
								</div>
							</fieldset>
						</form>
						<ul class="nav-top2">
							<li>
								<%= link_to "Register", new_client_path %>
								
							</li>
							<li>
								<a href="#">Sign In</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<nav>
			<%= render 'shared/menu' %>
				<div class="clear"></div>
			</nav>
		</div>
	</div>
</div>
