<div class="container_12">
    <div class="main-inside">
      <div class="row-1">
       <ul class="list-btns">
          <li> <a href="#" class="button"><strong><em> Email Plans</em></strong></a> </li>
          <li> <a href="#" class="button"><strong><em>Hosted Exchange Email</em></strong></a> </li>
        </ul>
        <article class="list-4">
          <div class="wrapper relative">
            <article class="grid_4 alpha">
              <div class="border">
                <div class="txt-3 bg1">Personal<strong>Email Plan</strong></div>
                <ul class="list-5">
                  <li><span>1</span><strong>Address</strong></li>
                  <li><span>1 GB</span><strong>Storage</strong></li>
                </ul>
                <p class="first">Perfect for individuals who want a fast, memorable, secure address.</p>
                <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$1.99</strong><em>p/m</em></div>
              </div>
            </article>
            <article class="grid_4">
              <div class="border">
                <div class="txt-3 bg2">Deluxe<strong>Email Plan</strong></div>
                <ul class="list-5">
                  <li><span>5</span><strong>Address</strong></li>
                  <li><span>2 GB</span><strong>Storage</strong></li>
                </ul>
                <p>A great choice for families or small groups that want separate addresses using the same domain.</p>
                <div class="block-bottom"><a class="button-1 fright" href="#">Buy</a><strong>$2.29</strong><em>p/m</em></div>
              </div>
            </article>
            
             <article class="grid_4 omega">
        
                <div class="txt-3 bg3">Unlimited<strong>Email Plan</strong></div>
                <ul class="list-5">
                  <li><span>10</span><strong>Address</strong></li>
                  <li><span>Unlimited</span><strong>Storage</strong></li>
                </ul>
                <p>Ideal for businesses and organizations that don’t want to worry about running out of space.</p>
                <div class="block-bottom"><a  class="button-1 fright" href="#">Buy</a><strong>$2.79</strong><em>p/m</em></div>
              
            </article>
           
          </div>
        </article>
      </div>
      <div class="row-2">
        <h3>Email. Customized for Your Business</h3>
        <p><strong class="color-1">Personal email addresses for individuals and small business.</strong><br> Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>
        <div class="block-email">
          <div class="wrapper relative">
            <article class="grid_6 alpha">
              <div class="box-email">
                <p class="bg-1">Reveal a more professional image. For example<br>
                  <a href="#">jane@janesbagels.com.</a> </p>
              </div>
              <div class="p10">
                <div class="box-email">
                  <p class="bg-3">No new software. Easily works with email you already use,<br> like Outlook&reg;.</p>
                </div>
              </div>
            </article>
            <article class="grid_6 omega">
              <div class="box-email b1">
                <p class="bg-2">Check your email account anytime, anywhere</p>
              </div>
              <div class="p10">
                <div class="box-email b1">
                  <p class="bg-4">We're here to help. Anytime you need us.</p>
                </div>
              </div>
            </article>
          </div>
        </div>
        <h3>Email for Those Who Mean Business</h3>
       <p><strong class="color-1">Email for those who mean business. Plus the tools you need for productive teamwork.</strong><br> Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>
        <div class="wrapper relative p8">
          <article class="grid_6 alpha">
            <div class="box-email">
              <p class="bg-5">Coordinate employee schedules with shared calendars</p>
            </div>
            <div class="p10">
              <div class="box-email">
                <p class="bg-7">Work with email programs you already use, like Outlook&reg; </p>
              </div>
            </div>
          </article>
          <article class="grid_6 omega">
            <div class="box-email">
              <p class="bg-6">Manage group projects with document collaboration tools </p>
            </div>
            <div class="p10">
              <div class="box-email">
                <p class="bg-8">Sync your email, contacts, calendars and tasks so you
                  can<br> work remotely, anywhere, anytime </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>